* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: hwb(211 27% 23%);
    background-size: auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}