* {
    margin: 0;
    padding: 0 ;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/assets/css/fundo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    background: linear-gradient(rgba(204, 8, 8, 0.7), rgba(102, 7, 102, 0.7),rgba(4, 4, 175, 0.7));
    border-radius: 10px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.711);
    margin: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 18px 36px;
}

.titulo {
    font-size: 1.8rem;
    text-align: center;
    padding: 5px 1px;
    margin: 9px;
    -webkit-text-stroke-color: rgba(26, 26, 26, 0.234);
    -webkit-text-stroke-width: 0.1px;
    text-shadow: 2px 2px 4px black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.768), 2px 2px 7px rgb(187, 180, 180);
}

img {
    margin-top: 0;
    width: 100%;
    border-radius: 16px;
    box-shadow: 2px 3px 4px black;
    border: 5px groove rgb(0, 0, 0);
    transition: 1s ease;
}

img:hover {
    transform: scale(1.06);
}


section {
    margin-top: 0px;
    width: 100%;
    background: none;
    color: white;
    margin: 32px 0 16px;
    padding: 10px;
    transition: 0.8s all;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95.5%;
    padding: 5px 2px;
    margin: 9px;
    color: rgb(255, 217, 0);
    font-size: 1.01rem;
    font-weight: 800;
    border-radius: 5px;
    text-align: justify;
    
}

button {
    width: 100%;
    margin-top: 20px;
    background: hsla(204, 97%, 43%, 0.774);
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: 3px groove rgba(0, 0, 0, 0.685);
    border-radius: 9px;
    box-shadow: 0px 10px 10px hsla(0, 1%, 15%, 0.492);
    padding: 1rem;    
    transition: color 0.4s;
    transition: 0.8s all;
}

.plano {
    padding: 5px 1px;
    margin: 9px;
    width: 95.5%;
    font-size: 1.19rem;
    -webkit-text-stroke-color: rgba(26, 26, 26, 0.234);
    -webkit-text-stroke-width: 0.1px;
    text-shadow: 2px 2px 4px black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.768), 2px 2px 7px rgb(187, 180, 180);
}

.pagamento, .alterar, .cancelar {
    width: 96%;
    margin: 3px 1px;
    padding: 5px 5px;
    font-size: 1.05rem;
}

.preco {
    color: rgb(0, 247, 255);
    margin: 6px;
    transition: 0.5s ease-in;
    font-size: 1.4rem;
    -webkit-text-stroke-color: rgba(26, 26, 26, 0.234);
    -webkit-text-stroke-width: 0.1px;
    text-shadow: 2px 2px 4px rgba(243, 231, 6, 0.37), 3px 2px 3px rgba(0, 0, 0, 0.808);
}

.preco:hover {
    transform:scale(1.3);
    color: rgb(0, 255, 17);
}

.alterar:hover {
    color: rgba(255, 251, 0, 0.993);
    font-weight: bold;
    transform: scale(1.1);
}

.pagamento:hover {
    color: rgb(11, 233, 29);
    font-weight: bold;
    transform: scale(1.1);
}

.cancelar:hover {
    color: red;
    font-weight: bolder;
    transform: scale(1.1);
}